<label>Logo facture</label>
{{ form_widget(form.quotationLogo.imageFile) }}
{{ form_errors(form.quotationLogo.imageFile) }}
<div class="hidden">
    {{ form_row(form.quotationLogo.updatedAt) }}
</div>