#forgot-password .logo img, #lock .logo img, #sign-in .logo img, #sign-up .logo img {
    max-width: 300px !important;
    height:80px !important;
}

 #sign-in form {
    max-width: 800px !important;
}

.cib-section-title  {
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
}

#forgot-password, #lock, #sign-in, #sign-up {

    padding-top: 20px !important;

}