{% extends 'AppBundle:Layout:layout.html.twig' %}

{% block stylesheets %}
    {{ include('AppBundle:Layout:_form_css.html.twig') }}
{% endblock %}

{% block floating_buttons_content %}
<li><button id="submit_button" class="btn-floating btn-large waves-effect waves-light btn green" data-position="top" data-delay="50" data-tooltip="Enregistrer"><i class="fa fa-save"></i></button></li>
{% endblock %}

{% block fixed_navbar %}
    {{ include ('AppBundle:AppUser:_fixed_navbar.html.twig', {'route': app.request.attributes.get('_route') }) }}
{% endblock %}

{% block content %}
    {% block fos_user_content %}
        {% include "AppBundle:ChangePassword:change_password_content.html.twig" %}
    {% endblock fos_user_content %}

{% endblock %}

{% block javascript %}
{{ include('AppBundle:Layout:_form_js.html.twig') }}

<script type="text/javascript">
    
$(document).ready(function() {
    "use strict";
    var options = {
        formSelector : '#fos_user_change_password_form'
    };
    
    CibForm.init(options);
    CibForm.submitOnEnter(options.formSelector);
    
    //Bouton submit
    $('#submit_button').click(function () {
        $(options.formSelector).submit();
    });
});

</script>
    
{% endblock %}