{% form_theme form 'form_layout.html.twig' %}

{% if label is defined %}<label>{{ label }}</label>{% endif %}
    {{ form_widget(form.document.file) }}
    {{ form_errors(form.document.file) }}
<div class="hidden">
    {{ form_row(form.document.updatedAt) }}
</div>